<mat-form-field style="width : 30%;margin-left: 10%;margin-top :5%;">
    <input matInput placeholder="Enter  your name">
</mat-form-field >
  <mat-form-field style="width : 30%;margin-left: 10%;">
    <input type="password"matInput placeholder="Give  your password">
  </mat-form-field ><br><br>
  <mat-radio-button style="margin-left: 10%;" >male</mat-radio-button>
  <mat-radio-button>female</mat-radio-button><br><br>
 <a routerLink='../two'><button style="margin-left: 15%;"class="login" mat-raised-button >Register</button></a>